{% extends "layout.twig" %}

{% block content %}
    <div id="admin-container" class="row">
        <div class="col-xs-3">
            {% include 'admin/nav.twig' %}
        </div>
        <div class="col-xs-9">
            <h1>Διαχείριση
                <small>{% block adminSubtitle %}{% endblock %}</small>
            </h1>
            {% block adminContent %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block inlinejs %}
    <script src="{{ base_url }}/js/admin/index.js" type="text/javascript"></script>
{% endblock %}